* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 800px;
}
nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 33px;
  color: #ffffff;
  font-weight: 700;
  background: rgb(80,64,153);
  background: linear-gradient(90deg, rgba(80,64,153,1) 42%, rgba(49,56,102,1) 59%);
  font-family: "Josefin Sans", sans-serif;
}

.row {
  width: 50%;
  background-color: #313866;
  color: white;
  padding-top: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrapper {
  color: #ffffff;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}
.wrapper img {
  width: 7rem;
  border-radius: 5rem;
}
.wrapper h3 {
  padding-top: 3rem;
  font-size: 17px;
  width: 70%;
  font-family: monospace;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
}
.function {
  width: 50%;
  background-color: #504099;
}
.box {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 50%;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border-radius: 10rem;
  border-color: #ffffff;
  border: 4px dashed #313866;
  background: #974ec3;
  padding: 20px 20px;
}
.dropzone .dz-preview.dz-image-preview {
  background: #974ec3;
}
.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  color: black;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}
.button {
  padding-top: 20px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  height: 2.3rem;
  width: 7rem;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  border-style: solid;
  border: #ffffff;
  background-color: #313866;
  cursor: pointer;
}

#error {
  margin-top: 20px;
  display: flex;
  color: white;
  justify-content: center;
}
#error p {
  display: flex;
  text-align: center;
  width: 60%;
}

#divClassTable {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

#classTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  color: white;
}

#classTable td,
#classTable th {
  border: 1px solid #ffffff;
  padding: 8px;
}

#classTable tr:nth-child(even) {
  background-color: #313866;
}

#classTable tr:hover {
  background-color: #1e2263;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #974ec3;
  color: white;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .row {
    width: 100%;
  }
  .function {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
    .wrapper img {
        width: 5rem;
      }
    .wrapper h3 {
        font-size: 10px;
        width: 75%;
      }
      nav {
        height: 65px;
        font-size: 25px;
      }
      .card h4 {
        padding-top: 10px;
        font-size: 10px;
      }
      .card p {
        font-size: 8px;
      }
      .dropzone {
        height: 10px;
      }
      .dropzone .dz-preview .dz-image {
        width: 80px;
        height: 80px;
    }
    .dropzone .dz-preview .dz-image img {
        width: 5rem;
    }
    .dropzone .dz-preview .dz-remove {
        font-size: 10px;
    }
    button {
        height: 2rem;
        width: 5rem;
        font-size: 10px;
      }
      #divClassTable {
        font-size: 12px;
    }
    
      
    
  }